*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #2a2a2a;
}
body{
    background: #2A2A2A;
}
main {
    height: 530px;
}

h2 {
    color: #ff4356;
    margin: 0;
    margin-bottom: 60px;
  }
.start-buttons {
    display: flex;
    justify-content: center;
}
  
  .Start-main ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .start-buttons a {
    display: block;
    background: #ff4356;
    margin: 0 5px;
    width: 50px;
    padding: 8px 30px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  

.Page-Tittle{
    color: #ff4356;
    font-size: 100px;
    margin: 0;
    margin-top: 10px;
    padding-top: 20vh;
}

footer p{
    color: white;
}

footer a{
    color: #ff4356;
    text-decoration: underline;
    margin: 0 5px;
}
footer ul{
    list-style: none;
    display: flex;
    
}

.languages{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px){
    main {
        height: 630px;
        width: 100%;
    }
    .Page-Tittle{
        font-size: 55px;
        margin-top: 0px;
        padding-top: 15vh;
    }
    h2{
        font-size: 20px;
    }
}