ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.win-winrate-loss li{
    margin: 0 10px;
    color: #ff4356;
    font-size: 25px;
}

.stats li{
    margin: 0 30px;
    color: #ff4356;
    font-size: 25px;
}

.Action-buttons a{
    display: block;
    background: #ff4356;
    margin: 0 5px;
    width: 100px;
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 7vh;
}


@media screen and (max-width: 800px){
    .actions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Action-buttons a{
        margin-top: 4vh;
    }
}